{% extends "layout.html" %}
{% block title %}Edit Locations{% endblock %}
{% block head %}
  {{ super() }}
<script>
$(document).ready(function(){
$(".submit-change").on("click", function(event){
    event.preventDefault();
    var locationid = $(this).data("location");
    var name = $("#location-name-"+locationid).val();
    var description = $("#location-description-"+locationid).val();
    console.log(locationid);
    console.log(name);
    console.log(description);
    var temp = {name: name,
                description: description};
    $.ajax({url: "/locations/"+locationid,
            method: "PUT",
            data: JSON.stringify(temp),
            contentType: "application/json"})
        .done(function(data){
            console.log(temp);
            console.log(data);
        })
});

$(".submit-delete").on("click", function(){
    event.preventDefault();
    var locationid = $(this).data("location");
    $.ajax({url: "/locations/"+locationid,
            method: "DELETE"})
        .done(function(data){
            console.log(data);
            $("#location-edit-"+locationid).remove();
        })
})

});
</script>
{% endblock %}
{% block content %}
{% for location in locations %}
<form id="location-edit-{{location.id}}" role="form">
  <div class="form-group">
    <label for="location-name-{{location.id}}">Name</label>
    <input type="text"
           class="form-control"
           value="{{location.name}}"
           id="location-name-{{location.id}}"
           placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="location-description-{{location.id}}">Description</label>
    <input type="text" 
           class="form-control"
           value="{{location.description}}"
           id="location-description-{{location.id}}"
           placeholder="Enter Description">
  </div>
  <button data-location="{{location.id}}" type="submit" class="submit-change btn btn-primary">Save Changes</button>
  <button data-location="{{location.id}}" type="submit" class="btn submit-delete btn-danger">Delete</button>
</form>

{% endfor %}

{% endblock %}